.projects {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
}

.projects-list {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
